/* Main stylesheet for common parts of the website */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Declare variables that can be reused throughout code */
:root {
  --primary: #57bc90;
  --secondary: #015249;
  --tertiary: #29836a;
  --text-white: #ffffff;
  --text-black: #333333;
  --text-grey: #6b6b6b;
  --background: #f6f6f6;
}

/* General CSS for HTML tags */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  /* background-color: pink; */
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  line-height: 1.25;
}

h1 {
  font-size: 36px;
}

p,
li {
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
  position: relative;
}

a:visited {
  text-decoration: none;
}

li {
  list-style-type: none;
}

section {
  margin: 40px 0;
}

/* Side navigation */
.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--primary);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  font-size: 20px;
  color: #ffffff;
  display: block;
}

.sidenav__link--list {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  text-align: center;
}

.sidenav__link--anchor {
  color: var(--text-white);
  margin: 0 12px;
  padding: 20px;
  font-size: 20px;
  padding: 20px 20px;
}

.sidenav__link--anchor-primary {
  background-color: var(--secondary);
  padding: 20px 20px;
  border-radius: 10px;
  color: white;
  transition: all 300ms ease;
  align-items: center;
}

.sidenav__link--anchor:hover {
  background-color: var(--tertiary);
  border-radius: 10px;
  transition: all 300ms ease;
}

/* Company logo */
.company__logo {
  display: flex;
  flex-direction: column;
}

.company__logo--text {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  color: var(--text-white);
  padding-top: 20px;
}

.company__logo--img {
  width: 120px;
  height: 120px;
  overflow: hidden;
  margin: auto;
}

.company__logo--pic {
  width: 100%;
}

/* Top navigation */
.topnav {
  height: 80px;
  width: 100%;
  max-width: 84vw;
  margin-left: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  /* background-color: #a0a0a0; */
}

.nav__link--list {
  display: flex;
  /* padding: 20px; */
  text-align: center;
}

.nav__link--anchor {
  color: var(--text-black);
  margin: 0 12px;
  font-size: 16px;
  font-weight: bold;
}

/* MAIN CONTENT SECTION */
.main {
  margin-left: 15%;
  padding: 20px;
}

/* Breadcrumbs */
.breadcrumb {
  margin-bottom: 30px;
}

.page--previous {
  font-weight: bold;
  color: var(--text-black);
}

.page--current {
  font-weight: bold;
  color: var(--secondary);
}

/* Dashboard */
.form__container {
  height: 75vh;
  width: 50vw;
  background-color: #f8f8f8;
  margin: auto;
  border-radius: 50px;
  filter: drop-shadow(4px 4px 4px #00000025);
}

.form__container--mini {
  display: flex;
}

.form__content {
  padding: 50px;
  text-align: center;
}

.form__subheading,
label {
  font-weight: bold;
  /* color: var(--text-grey); */
}

.form__submit {
  background-color: var(--primary);
  color: var(--text-white);
  font-weight: bold;
  padding: 4px;
}

.form__submit:hover {
  background-color: var(--secondary);
  transition: 300ms ease;
}

.input__container {
  padding: 20px;
  height: 15vh;
}

.input__container--small {
  margin: 12px 48px 12px 4px;
  width: 180px;
}

input,
select,
option {
  /* display: block; */
  width: 30vw;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  height: 5vh;
  border-style: none;
  filter: drop-shadow(4px 4px 4px #00000025);
}

input:hover,
select:hover,
::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

/* Results */
/* Sections */
.section__heading {
  display: flex;
}

.section__heading--edit {
  font-size: 18px;
  font-weight: bold;
  color: var(--primary);
  margin: 4px 0px 0px 12px;
}

.section__heading--edit:hover {
  cursor: pointer;
  color: var(--secondary);
  transition: 300ms ease;
}

.section__container {
  display: flex;
  height: 300px;
  width: 80vw;
  background-color: #f8f8f8;
  border-radius: 25px;
  filter: drop-shadow(4px 4px 4px #00000025);
  margin-top: 12px;
}

/* Patient Summary */
/* Green part - patient highlight */
.patient__container--highlight {
  height: 300px;
  width: 45vw;
  background-color: var(--primary);
  border-radius: 25px;
  filter: drop-shadow(4px 4px 4px #00000025);
}

.patient__highlight {
  display: grid;
  padding: 30px;
  grid-template-columns: 250px 150px 200px;
  grid-template-rows: 50px 40px 40px 40px;
  column-gap: 20px;
}

.patient__highlight--box {
  color: var(--text-white);
}

.patient__picture {
  width: 100%;
}

.patient__picture--mask {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  overflow: hidden;
  grid-column: 1;
  grid-row: 1/5;
  background-color: pink;
  grid-auto-columns: 200px;
}

.patient__name {
  grid-column: 2/4;
  grid-row: 1;
  font-weight: bold;
}

.patient__room--label {
  grid-column: 2;
  grid-row: 2;
  font-weight: bold;
}

.patient__room--number {
  grid-column: 3;
  grid-row: 2;
}

.patient__prac--label {
  grid-column: 2;
  grid-row: 3;
  font-weight: bold;
}

.patient__prac--name {
  grid-column: 3;
  grid-row: 3;
}

.patient__diet--label {
  grid-column: 2;
  grid-row: 4;
  font-weight: bold;
}

.patient__diet--name {
  grid-column: 3;
  grid-row: 4;
}

/* White part of patient box */
.patient__details {
  display: grid;
  padding: 30px;
  grid-template-rows: 40px 30px 30px;
  column-gap: 60px;
}

.patient__details--box {
  color: var(--text-black);
}

.patient__profile {
  grid-column: 1 / 5;
  grid-row: 1;
  font-weight: bold;
}

.patient__age--label {
  grid-column: 1;
  grid-row: 2;
  font-weight: bold;
}

.patient__age--number {
  grid-column: 1;
  grid-row: 3;
}

.patient__gender--label {
  grid-column: 2;
  grid-row: 2;
  font-weight: bold;
}

.patient__gender--gender {
  grid-column: 2;
  grid-row: 3;
}

.patient__dob--label {
  grid-column: 3;
  grid-row: 2;
  font-weight: bold;
}

.patient__dob--date {
  grid-column: 3;
  grid-row: 3;
}

.patient__weight--label {
  grid-column: 4;
  grid-row: 2;
  font-weight: bold;
}

.patient__weight--number {
  grid-column: 4;
  grid-row: 3;
}

/* Medicare and Emergency contact section */
.top__container {
  display: flex;
  width: 80vw;
  justify-content: space-between;
}

.section__container--first {
  display: flex;
  height: 200px;
  width: 39vw;
  background-color: #f8f8f8;
  border-radius: 25px;
  filter: drop-shadow(4px 4px 4px #00000025);
  margin-top: 12px;
  padding: 10px;
}

.section__container--second {
  display: flex;
  height: 200px;
  width: 39vw;
  background-color: #f8f8f8;
  border-radius: 25px;
  filter: drop-shadow(4px 4px 4px #00000025);
  margin-top: 12px;
  padding: 10px;
}

/* Setting up the Grid for the emergency contact section */
.details__highlight--emergency {
  display: grid;
  padding: 20px;
  grid-template-columns: 100px 150px 150px;
  grid-template-rows: 35px 35px 35px;
  column-gap: 20px;
}

.details__highlight--box {
  color: black;
}

.EC__name--label {
  grid-column: 1/4;
  grid-row: 1/5;
  font-weight: bold;
}

.EC__name--number {
  grid-column: 2;
  grid-row: 1;
}

.EC__relation--label {
  grid-column: 1;
  grid-row: 2;
  font-weight: bold;
}

.EC__relation--name {
  grid-column: 2;
  grid-row: 2;
}

.EC__number--label {
  grid-column: 1;
  grid-row: 3;
  font-weight: bold;
}

.EC__number--name {
  grid-column: 2;
  grid-row: 3;
}

.EC__email--label {
  grid-column: 1;
  grid-row: 4;
  font-weight: bold;
}

.EC__email--name {
  grid-column: 2;
  grid-row: 4;
}

/* Setting up the Grid for the Medicare section */
/* Setting up the Grid for the emergency contact section */
.details__highlight--medicare {
  display: grid;
  padding: 20px;
  grid-template-columns: 200px 150px 150px;
  grid-template-rows: 35px 35px 35px;
  column-gap: 20px;
}

.Medicare__Number--label {
  grid-column: 1/4;
  grid-row: 1/5;
  font-weight: bold;
}

.Medicare__Number--number {
  grid-column: 2;
  grid-row: 1;
}

.Medicare__Reference--label {
  grid-column: 1;
  grid-row: 2;
  font-weight: bold;
}

.Medicare__Reference--name {
  grid-column: 2;
  grid-row: 2;
}

.Medicare_Expiry--label {
  grid-column: 1;
  grid-row: 3;
  font-weight: bold;
}

.Medicare_Expiry--name {
  grid-column: 2;
  grid-row: 3;
}

/* Medications Table */
.section__container--medications {
  display: flex;
  height: 350px;
  width: 80vw;
  background-color: #f8f8f8;
  border-radius: 25px;
  filter: drop-shadow(4px 4px 4px #00000025);
  margin-top: 12px;
}

#MDName {
  width: 12%;
  text-align: left;
}

#MDDosage {
  text-align: left;
  width: 5%;
}

#MDRoute {
  text-align: left;
}

#MDType {
  text-align: left;
}

#MDFreq {
  width: 12%;
  text-align: left;
}

#MDIngredient {
  width: 13%;
  text-align: left;
}

#MDCondition {
  width: 18%;
  text-align: left;
}

#MDInstructions {
  width: 23%;
  text-align: left;
}

/* .specific_patient_med_table {
} */

th,
td {
  height: 60px;
  padding: 15px;
  /* vertical-align: bottom; */
}

/* Notes box */
.section__container--notes {
  display: flex;
  height: 160px;
  width: 80vw;
  background-color: #f8f8f8;
  border-radius: 25px;
  filter: drop-shadow(4px 4px 4px #00000025);
  margin-top: 12px;
}

/* Medications */
.section__table {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 30vh);
  column-gap: 10vh;
}

.section__table--heading {
  font-weight: bold;
}

.section__table--heading-1 {
  grid-column: 1;
  grid-row: 1;
}

.section__table--heading-2 {
  grid-column: 2;
  grid-row: 1;
}

.section__table--heading-3 {
  grid-column: 3;
  grid-row: 1;
}

/* Search bar design in Patient Search page*/
/*https://www.w3schools.com/howto/howto_css_search_button.asp*/
* {
  box-sizing: border-box;
}

/* Style the search field */
form.search_patients input[type="text"] {
  padding: 20px;
  font-size: 17px;
  float: left;
  width: 30%;
  height: 6vh;
  background: #ffffff;
  border-right: none;
}

/* Style the submit button */
form.search_patients button {
  width: 6%;
  margin: 20px;
  padding: 10px;
  background: var(--primary);
  color: white;
  font-size: 20px;
  border-radius: 10px;
  height: 6vh;
  border-style: none;
  filter: drop-shadow(4px 4px 4px #00000025);
  cursor: pointer;

  /* float: left;
  width: 5%;
  padding: 20px;
  background: #ffffff;
  color: grey;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer; */
}

/* Clear floats */
form.search_patients::after {
  content: "";
  clear: both;
  display: table;
}

/* Search image */
.patient_pic {
  width: 120px;
  height: 120px;
}

/* Form at the top */

/* Footer */
/* Tried to add styling for the footer - failed miserably*/
.row {
  width: 100%;
  max-width: 85vw;
  margin: 0 auto;
  padding: 0 12px;
}

/*
  .row footer_row {
    position: absolute;
    bottom: 10px;
    width: 50%;
    border: 3px solid #8ac007;
  }
  */

.footer_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4% 0;
}

.footer_logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.footer_logo_img {
  width: 100%;
}

.footer_copyright {
  color: black;
}
